.list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.25rem;
  border-bottom: 1px dashed var(--color-neutral-2);
}
.list-item > * + * {
  margin-left: 1.875rem;
}
.list-item__name {
  margin-right: auto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
  cursor: pointer;
}
.list-item_is-vacation .list-item__name {
  color: var(--color-primary-1);
}
.list-item__salary {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;
}
.list-item__buttons {
  display: flex;
}
.list-item__buttons > * + * {
  margin-left: 0.25em;
}
.list-item__button {
  padding: 0.25rem;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}
.list-item__button_action {
  color: var(--color-primary-1);
}
.list-item__button_action:hover {
  background-color: var(--color-primary-a1);
}
.list-item__button_danger {
  color: var(--color-secondary-1);
}
.list-item__button_danger:hover {
  background-color: var(--color-secondary-a1);
}
.list-item__button-icon {
  font-size: 1.25rem;
}
.list-item__dynamic-icon {
  padding: 0.25rem;
  border-radius: 50%;
  background-image: var(--liner-gradient-1);
  font-size: 1.75rem;
  color: var(--color-neutral-1);
  opacity: 0;
  transform: translateY(50%) scale(0.5);
  transition: all 0.25s ease 0s;
}
.list-item_is-promotion .list-item__dynamic-icon {
  opacity: 1;
  transform: translateY(0) scale(1);
}
