.list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.25em;
  border-bottom: 1px dashed var(--color-primary-1);
}
.list-item > * + * {
  margin-left: 0.5rem;
}
.list-item__name {
  margin-right: auto;
  padding-inline: 0.25em;
  cursor: pointer;
}
.list-item__name:focus {
  outline-color: var(--color-primary-2);
}
.list-item_vacation .list-item__name {
  font-weight: 700;
  color: var(--color-primary-2);
}
.list-item__salary {
  margin-right: 1.5rem;
}
.list-item__button {
  flex: 0 0 auto;
  display: flex;
  padding: 0.375em 0.375em;
  border: 0;
  border-radius: 0.25em;
  background-color: transparent;
  font-size: 1.25rem;
  color: var(--color-primary-3);
  cursor: pointer;
  transition: 0.25s ease 0s;
}
.list-item__button:hover {
  background-color: var(--color-primary-a1);
}
.list-item__button_danger {
  color: var(--color-secondary-1);
}
.list-item__button_danger:hover {
  background-color: var(--color-secondary-a1);
}
.list-item__button.is-active {
  background-color: var(--color-primary-1);
  color: var(--color-neutral-1);
}
.list-item__button.is-active:hover {
  background-color: var(--color-primary-2);
}
.list-item__icon {
  display: flex;
  padding: 0.375em 0.375em;
  border-radius: 50%;
  background-color: var(--color-primary-1);
  font-size: 1.25rem;
  color: var(--color-neutral-1);
  opacity: 0;
  transform: translateX(50%) scale(0.25);
  transition: all 0.25s ease 0s;
}
.list-item_promotion .list-item__icon {
  opacity: 1;
  transform: translateX(0%);
}
