.filter {
  display: flex;
}
.filter__button-item {
  padding: 0.5em 1rem;
  border: 0.125rem solid var(--color-primary-1);
  cursor: pointer;
  background-color: none;
  color: var(--color-primary-1);
  transition: background-color 0.25s ease 0s;
}
.filter__button-item + .filter__button-item {
  border-left: none;
}
.filter__button-item:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
.filter__button-item:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}
.filter__button-item:focus {
  outline-color: var(--color-primary-2);
  z-index: 1;
}
.filter__button-item:hover {
  background-color: var(--color-primary-a1);
}

.filter__button-item.is-current {
  border: none;
  background-color: var(--color-primary-1);
  color: var(--color-neutral-1);
}
.filter__button-item.is-current:hover {
  background-color: var(--color-primary-2);
}
.filter__button-item.is-current:active {
  background-color: var(--color-primary-3);
}
