.app {
  display: flex;
  flex-direction: column;
  width: min(75rem, 100% - 2rem);
  height: 100%;
  margin-inline: auto;
  padding-block: 1rem;
}

.app > * + * {
  margin-top: 2rem;
}

.app__list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}

.app__list > * + * {
  margin-top: 1.25rem;
}

.app__controls {
  display: flex;
  justify-content: space-between;
}
.app__controls > * + * {
  margin-left: 0.75rem;
}
.app__controls > .search {
  flex: 1 1 auto;
}
